<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body>
    <h2>Registro</h2>
    <form method="POST" action="/register">
        <!-- Formulario de registro -->
    </form>
</body>
</html>
